body {
  height: calc(100vh - 2 * (20px + 2vw));
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  /* background: #212121; */
  background: #ff6347;
  color: #fff;
  margin: calc(20px + 2vw);
}
::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: "DM Serif Text", serif;
  font-weight: 300;
  font-size: 12.4vw;
  line-height: 12.4vw;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

p {
  font-size: 5.4vw;
  font-weight: 200;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

span {
  font-size: 22px;
}

a {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1.8vw;
  line-height: 2vw;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 2 * (20px + 2vw));
}

#titleBox {
  width: 75vw;
}

#mainTextBox {
  width: 60vw;
}

#email {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

#emailText {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 3.2vw;
  cursor: pointer;
  margin-block-start: 0;
  margin-block-end: 0;
}

.transform-scale {
  transform: scale(0.995);
  transition: all 150ms ease-in-out;
}

#emailText:hover {
  transform: scale(1);
}

dialog {
  top: 5vw;
  right: -65vw;
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
  background: #fafafa;
  color: #212121;
  border: 0px solid #ff6347;
  border-radius: 10px;
  /* animation */
  opacity: 0;
  transition: all 300ms ease-out;
  -webkit-transition: opacity 300ms linear;
}

.fullOpacity {
  opacity: 1;
}

.copied {
  font-size: 2vw;
}

.there {
  font-size: 1.6vw;
  font-weight: 100;
}

@media screen and (max-device-width: 620px) {
  #email {
    margin-bottom: 40px;
  }
  #emailText {
    font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular",
      "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
}

@media screen and (max-width: 620px) {
  h1 {
    font-size: 22vw;
    line-height: 20vw;
  }

  p {
    font-size: 9vw;
  }

  #emailText {
    font-size: 6vw;
  }

  a {
    font-size: 3vw;
    line-height: 6vw;
  }

  dialog {
    right: 0vw;
  }

  .copied {
    font-size: 4vw;
  }

  .there {
    font-size: 3vw;
  }
}

@media screen and (min-width: 620px) and (max-width: 900px) {
  h1 {
    font-size: 17vw;
    line-height: 16vw;
  }

  p {
    font-size: 7vw;
  }

  #emailText {
    font-size: 4vw;
  }
  a {
    font-size: 3vw;
    line-height: 4vw;
  }

  dialog {
    right: -45vw;
  }

  dialog {
    right: -45vw;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  h1 {
    font-size: 13.6vw;
    line-height: 13.6vw;
  }

  a {
    font-size: 2.2vw;
    line-height: 3.2vw;
  }
}
