body {
  height: calc(100% - 8vw);
  font: 12px Helvetica, Arial, sans-serif;
  background: #212121;
  color: #fff;
  margin: 0;
  margin: 4vw;
}
::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: "DM Serif Text", serif;
  font-size: 12rem;
  font-weight: 400;
  line-height: 11rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

p {
  font-size: 5rem;
  font-weight: 200;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

a {
  font-size: 3rem;
  font-weight: 100;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 8vw);
}

#email {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
